.ingriName {
    display: block;
    font-size: 1.2em;
    color:rgb(0, 0, 0);
    margin: 3%;
 
}
.mainIngri{
    display: block;
    font-size: 1.5em;
    color:rgb(0, 0, 0);
    margin-bottom: -2.5%;
    font-weight: bold;
}

.ingriDirect {
    display: block;
    font-size: 1.2em;
    color:rgb(0, 0, 0);
    margin-left: 15%;
    margin-right: 15%;
 
}
.shareRecipe{
    display: block;
    font-size: 1.2em;
    color:rgb(253, 97, 6);
    font-weight: bold;
}