.addAccount{
    display: block;
    font-size: 2.5em;
    color:rgb(0, 0, 0);
}

.formName{
    display: block;
    font-size: 1.5em;
    color:rgb(0, 0, 0);
    margin-bottom: 1%;
 
}

.formSubmt {
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin-right: 1rem;
    margin-left: .3rem;
    margin-top: .5rem;
    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;

}

.signUpForm{
    text-align: center;
}