.imgControl {
    width: 50%;
    height: auto;
}

.recipeTitle {
    display: block;
    font-size: 3em;
    color:orange;
    font-weight: bold;
 
}


.recipeMainTitle{
    display: block;
    font-size: 2em;
    color:rgb(0, 0, 0);
 
    font-weight: bold;
}
.rateColor{

    font-size: 1em;
    color:rgb(255, 0, 0);
    font-weight: bold;
    margin-top: -1.5%;
}
.recipeDescript{
    display: block;
    font-size: 1.5em;
    color:rgb(0, 0, 0);
 
}
.formEdit {
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .8rem;
    margin:.5rem .2rem .7rem .1rem;
    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;

}