.button {
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin-right: auto;
    margin-left:auto;
    margin-top: .5rem;
    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display:flex;

}
.containerCenter{
    display:flex;
    
} 
.spaceTop{
   
    justify-content: flex-end;
}

.buttonAccount {
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin-right: auto;
    margin-left:auto;
    margin-top: .5rem;
   
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display:flex;

}
.loginButton{
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin: .5rem .6rem .2rem .2em;

    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;  
}
.lgoutButton{
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin: .21rem .2rem .2rem .2em;
    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;
}

.textRight{
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 1.5%;
}


.navSpace{
    margin-top: 1.5rem;
    border: 5px solid rgb(58, 128, 219);
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.seacrhNav{
    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;
    
}