.button {
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin-right: 1rem;
    margin-top: .5rem;
    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;

}
.spaceTop{
    margin-top: 2em;
}
.loginButton{
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin-right: .5rem;

    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;  
}
.lgoutButton{
    color:rgb(58, 128, 219) ;
    background: white;
    padding: .5rem;
    margin-top: 1rem;
    margin-left: -.5rem;
    border: rgb(58, 128, 219) 2px solid;
    border-radius: 1em;
}



.menuLeft {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.menuSpace{
    margin-top: 1.5rem;
}
.nav-title {
    float: left;
    padding-left: .5rem;
  }

